html {
    background-color: #afe1af;
    color: black;
}

#header-wrapper {
    display: block;
    height: 450px;
    width: 100%;
    text-align: center;
}

#logo {
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#logo img {
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: multiply;
}

#nav-bar {
    background-color: rgb(190,240,190);
    display: inline-block;
    padding: 0;
    width: 95%;
    color: black;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
    max-width: 100%;
}

#nav-bar li {
    display: inline;
    margin: 1%;
    background-color: #afe1af;
    color: black;
    padding: 1%;
    border-radius: 8px;
}

#nav-bar li:hover {
    background-color: #6ee46e;
    cursor: pointer;
}

#nav-bar a {
    color: black;
    text-decoration: none;
    
}

#wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    background-color: rgb(190,240,190);
    border-radius: 8px;
}

#booking {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(190,240,190);
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1%;
    
}

#booking-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}

#box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100px;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 8px;
    margin-bottom: 5%;
    padding: 3%;
}

#box img:hover {
    background-color: lightgray;
    opacity: 0.5;
}

/* CAROUSEL */

*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel {
    display: block;
    width: 95%;
    height: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: black;
    border-radius: 8px;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    /* width: 95%; */
    height: 760px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 2%;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255,255,255,.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/* END OF CAROUSEL */

/* *******PORTFOLIO PAGE******* */

#portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(190,240,190);
    max-width: 95%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#portfolio-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

#portfolio-image img {
    display: block;
    max-height: 250px;
    border-radius: 8px;
    margin: auto;
}

/* *******END OF PORTFOLIO PAGE****** */


/* *****ABOUT PAGE***** */

#about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(190,240,190);
    max-width: 95%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#about-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    padding: 3%;
    letter-spacing: 0.1rem;
    color: black;
}

#about-box img {
    border-radius: 8px;
}

#about-box h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

#about-box h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}

/* *****END OF ABOUT PAGE */

/* *****REVIEWS PAGE***** */

#reviews-wrapper {
    display: block;
    background-color: rgb(190,240,190);
    max-width: 95%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* *****END OF REVIEWS PAGE***** */

/* *****CONTACT FORM***** */

#form-wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    margin-top: 5%;
    border-radius: 8px;
    background-color: rgb(190,240,190);
}

#form {
    display: block;
    max-width: 80%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

/* *****END OF CONTACT FORM***** */

#appointment {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-radius: 8px;
    background-color: rgb(190,240,190);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#appointment a {
    text-decoration: none;
    color: black;
}

#appointment:hover {
    background-color: lightgray;
    cursor: pointer;
}

#footer {
    margin-top: 5%;
    display: block;
    text-align: center;
}

#footer a{
    color: red;
    text-decoration: none;
}

#footer a:hover {
    color: gray;
}
@media only screen and (max-width: 800px) {
    html {
        background-color: #afe1af;
        color: white;
    }
    
    #header-wrapper {
        display: block;
        height: 250px;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #logo {
        display: block;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #logo img {
        display: block;
        max-height: 180px;
        margin-left: auto;
        margin-right: auto;
        mix-blend-mode: multiply;
    }

    #nav-bar {
        background-color: rgb(190,240,190);
        display: inline-block;
        width: 100%;
        color: black;
        font-size: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        height: 2rem;
    }
    
    #nav-bar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-top: 2%;
    }

    #nav-bar li {
        display: inline;
        background-color: #afe1af;
        color: black;
        margin-left: auto;
        margin-right: auto;
    }

    #nav-bar li:hover {
        background-color: #6ee46e;
        cursor: pointer;
    }
    
    #wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        background-color: rgb(190,240,190);
        border-radius: 8px;
        padding-bottom: 3%;
    }
    
    #booking {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(190,240,190);
        border-radius: 8px;
        text-align: center;
        font-size: 1.25rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    #booking-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
    }
    
    #box img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 50px;
        background-color: whitesmoke;
        opacity: 0.8;
        border-radius: 8px;
        margin-bottom: 5%;
        padding: 3%;
    }
    
    /* CAROUSEL */
    
    *::before, *::after {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    .carousel {
        display: block;
        width: 100%;
        height: 325px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        background-color: black;
        border-radius: 8px;
    }
    
    .carousel > ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
    }
    
    .slide > img {
        display: block;
        /* width: 95%; */
        height: 300px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        padding: 2%;
    }
    
    .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
    }
    
    .carousel-button {
        position: absolute;
        background: none;
        border: none;
        font-size: 4rem;
        top: 90%;
        z-index: 2;
        transform: translateY(-90%);
        color: rgba(255,255,255,.5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, .1);
    }
    
    .carousel-button:hover,
    .carousel-button:focus {
        color: white;
        background-color: rgba(0, 0, 0, .2);
    }
    
    .carousel-button:focus {
        outline: 1px solid black;
    }
    
    .carousel-button.prev {
        left: 1rem;
    }
    
    .carousel-button.next {
        right: 1rem;
    }
    
    /* END OF CAROUSEL */
    
/* *****ABOUT PAGE***** */

#about-grid {
    display: block;
    background-color: rgb(190,240,190);
    max-width: 95%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#about-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    padding: 3%;
    letter-spacing: 0.1rem;
    color: black;
    padding: 5%;
}

#about-box img {
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

#about-box h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

#about-box h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}

/* *****END OF ABOUT PAGE */

/* *******PORTFOLIO PAGE******* */

#portfolio-grid {
    display: block;
    background-color: rgb(190,240,190);
    max-width: 95%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#portfolio-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

#portfolio-image img {
    display: block;
    max-height: 250px;
    border-radius: 8px;
    margin: auto;
    width: 250px;
}

/* *******END OF PORTFOLIO PAGE****** */

/* *****REVIEWS PAGE***** */

#reviews-wrapper {
    display: block;
    background-color: rgb(190,240,190);
    max-width: 95%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#reviews-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

/* *****END OF REVIEWS PAGE***** */


/* *****CONTACT FORM***** */

#form-wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    margin-top: 5%;
    border-radius: 8px;
    background-color: rgb(190,240,190);
}

#form {
    display: block;
    max-width: 90%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
}

/* *****END OF CONTACT FORM***** */
#appointment {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-radius: 8px;
    background-color: rgb(190,240,190);
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#appointment a {
    text-decoration: none;
    color: black;
}

#appointment:hover {
    background-color: lightgray;
    cursor: pointer;
}


    #footer {
        margin-top: 5%;
        display: block;
        text-align: center;
    }

    #footer a{
        color: red;
        text-decoration: none;
    }

    #footer a:hover {
        color: gray;
    }
  }